# ShellCheck configuration file
# https://www.shellcheck.net/wiki/Ignore

# Set shell to bash
shell=bash

# Enable all checks by default
enable=all

# External sources
# Used when scripts source external files
# source=./common/scripts/pattern-util.sh

# Additional notes:
# - We've fixed SC2295 (expansions inside ${..}) in the code
# - We've fixed SC2126 (grep -c instead of grep|wc -l) in the code
# - All other ShellCheck warnings have been addressed in the code